body {
  /* background: url(../imagens/fundo03.gif); */
  /* background-color: black; */
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background-color: rgba(255, 255, 255, 0.507);
  width: 90%;
  margin: auto;
  padding: 10px;
}

h1 {
  text-align: center;
  width: 50%;
  margin: auto;
  text-shadow: teal 1px 1px 2px;
}

hr {
  box-shadow: teal 1px 1px 2px;
  border: rgba(0, 0, 0, 0.432) solid 1px;
}

ul {
  display: flex;
  padding: 0;
}

ul a {
  width: 100%;
  text-decoration: none;
}
ul a li {
  list-style: none;
  padding: 3px 10px;
  background-color: black;
  color: white;
  transition: 1s;
  text-align: center;
}

ul a li:hover,
ul a li:focus {
  text-decoration: underline;
  color: yellow;
}

.link a {
  text-decoration: none;
  transition: 1s;
}

.link a:hover,
.link a:focus {
  color: white;
  background: black;
}

.paragrafo-centralizado {
  text-align: center;
}

figure {
  text-align: center;
}
